{% extends "base.html" %}

{% block title %} Register {% endblock %}

{% block content %}
<div class="container mt-4 p-4 border rounded shadow bg-light">
  <h2 class="mb-4 text-center">Register</h2>
  
  <form method="post">
    
    <div class="mb-3">
      <label for="Name" class="form-label">Name</label>
      <input type="text" class="form-control" id="Name" name="name" placeholder="Enter name" required>
    </div>

    <div class="mb-3">
      <label for="Id" class="form-label">ID</label>
      <input type="number" class="form-control" id="Id" name="id" placeholder="Enter ID" required>
    </div>
    
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="number" class="form-control" id="Password" name="Password" placeholder="Enter Your Password" required>
      </div>

    <button type="submit" class="btn btn-primary w-100">Register</button>
  </form>
</div>
{% endblock %}
