{% extends "base.html" %}

{% block title %} List of Courses {% endblock %}

{% block content %}
  <h2 class="mb-4">Courses List</h2>
  <ul class="list-group">
    {% for course in courses %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <span class="fw-bold">{{ course.id }}:</span> {{ course.name }}
        </div>
        <div>
          <a href="{% url 'updateCourse' course.id %}" class="btn btn-sm btn-primary me-2">Edit</a>
          <a href="{% url 'deleteCourse' course.id %}" class="btn btn-sm btn-danger">Delete</a>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
