{% extends "base.html" %}

{% block title %} List of Trainees {% endblock %}

{% block content %}
  <h2 class="mb-4">Trainee List</h2>
  <ul class="list-group">
    {% for trainee in trainees %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <span class="fw-bold">{{ trainee.id }}:</span> {{ trainee.name }}
      </div>
      <div>
        <a href="{% url 'updateTrainee' trainee.id %}" class="btn btn-sm btn-primary me-2">Edit</a>
        <a href="{% url 'deleteTrainee' trainee.id %}" class="btn btn-sm btn-danger">Delete</a>
      </div>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
